

body {
    /* Boody for HTML page */
    box-sizing: border-box;
	font-size: 12;
	margin-left: 15%;
	margin-right: 15%;
	margin-bottom: 10%;
    margin-top: 10%;
    color: rgb(0, 0, 0);
    /* Webpages background color */
    background-color: rgba(55, 128, 38, 255);
    border-style: solid;
}

.outershell {
    /* This is for the main pages color */
    margin-top: -21px;
    background-color: rgb(255, 255, 255);
}


#progress {
    /* Progress bar background */
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 30%;
    background-color: rgb(224, 224, 224);
    border-style: solid;
    border-radius: 3px;
}

#progressBar {
    /* Progress bar itself - starts at 1px */
    width: 1%;
    height: 35px;
    background-color: rgba(55, 128, 38, 255);
    text-align: center;
    line-height: 32px;
}

#recycleGif {
    /* Didn't feel like getting involed with flexbox so I went ahead and just did a negative margin
    which is disgusting */
    text-align: right;
    margin-top: -53px;
}

#calculators {
    margin-left: 10%;
}

button {
    width: 15%;
}
select {
    width: 35%;
}

input {
    width: 30%;
}

option {
    text-align: center;
}
